<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/R.03b5ac35e9f7a0dc4e9f9a735f7bb712?rik=Gx%2fSsxeYplyccw&pid=ImgRaw&r=0" class="d-block w-100" alt="" width="100" height="600">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R.9a3182c9fa4e07b38a1cb4b59138135a?rik=jfmgjs%2bUUP%2fUkQ&pid=ImgRaw&r=0" class="d-block w-100" alt="" width="100" height="600">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/OIP.Wb9xZrLeW9wKh2maTuVP9QHaFE?pid=ImgDet&rs=1" class="d-block w-100" alt="" width="100" height="600">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>